{% extends "admin/change_list.html" %}
{% load static admin_list i18n cache %}

{% get_current_language as LANGUAGE_CODE %}

{% block extrahead %}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />#}
{#<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}

{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>#}


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>

<script>

    var timeFormat = 'MM/DD/YYYY HH:mm';
    var now = window.moment();
    var dragOptions = {
        animationDuration: 1000
    };

  // Sample data
  {#const chartData = [#}
  {#  {"period": "2019-08-08T00:00:00Z", "y": 431},#}
  {#  {"period": "2019-08-07T00:00:00Z", "y": 430},#}
  {#  {"period": "2019-08-06T00:00:00Z", "y": 431},#}
  {#  {"period": "2019-08-05T00:00:00Z", "y": 431},#}
  {#  {"period": "2019-08-04T00:00:00Z", "y": 430},#}
  {#  {"period": "2019-08-03T00:00:00Z", "y": 431},#}
  {#  {"period": "2019-08-02T00:00:00Z", "y": 431},#}
  {#  {"period": "2019-08-01T00:00:00Z", "y": 431},#}
  {#];#}
  const chartData = {{ chart_data | safe }};

  // Parse the dates to JS
  chartData.forEach((d) => {
    d.x = new Date(d.period);
  });

  // Render the chart
  {#const chart = new Chart(ctx, {#}
var config = {
    type: 'line',
    data: {
      datasets: [
        {
          label: 'Minimum',
          data: chartData.map((d) => ({t: d.x, y: d.yMin})),
          backgroundColor: 'rgba(121, 174, 200,0.5)',
          fill: '+2',
         },
        {
          label: 'Průměr',
          {#data: chartData,#}
          data: chartData.map((d) => ({t: d.x, y: d.y})),
          backgroundColor: 'rgba(220,20,20,0.5)',
          borderColor : 'rgba(220,20,20,0.5)',
          pointHitRadius: 3,
          lineTension: 0.21,
          lineBorderWidth: 13,
          borderWidth: 3,
          fill: false,
        },
        {
          label: 'Maximum',
          data: chartData.map((d) => ({t: d.x, y: d.yMax})),
          backgroundColor: 'rgba(121, 174, 200,0.5)',
          fill: false,
         },
      ],
    },
    options: {
        maintainAspectRatio: false,
        responsive: true,
        animation: {
            animateScale: true,
            animateRotate: true
         },
        hover:{
            mode:'x',
            animationDuration:400,
        },
        tooltips: {
            mode: "x",
            {#mode: "interpolate",#}
            intersect:false,
            displayColors:false,
          {#callbacks: {#}
          {#  title: function(a, d) {#}
          {#    return a[0].xLabel.format('dd D MMM YYYY HH:mm')#}
          {#  },#}
          {#  label: function(i, d) {#}
          {#    return (#}
          {#      d.datasets[i.datasetIndex].label + ": " + i.yLabel.toFixed(2)#}
          {#    );#}
          {#  }#}
          {# }#}
         },
      scales: {
        xAxes: [
          {
            type: 'time',
            distribution: 'series',
            time: {
                gridLines: {
                    display: true
                },
                unit: 'day',
                {#round: 'hour',#}
				unitStepSize: 0.5,
                  displayFormats: {
                    day: 'MMM D',
                   },
                ticks:{
                    maxTicksLimit: 5,
                 },
            },
            scaleLabel: {
                display: true,
                labelString: 'Datum'
            },
            ticks: {
                maxRotation: 34,
            }
          },
        ],
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
            },
          },
        ],
      },
    plugins: {
        zoom: {
            // Container for pan options
            pan: {
                // Boolean to enable panning
                enabled: true,
                drag: !dragOptions,
                mode: 'x',
                // On category scale, factor of pan velocity
                {#speed: 100,#}
                // Minimal pan distance required before actually applying pan
                {#threshold: 1,#}
            },
            zoom: {
                enabled: true,
                drag: dragOptions,
                mode: 'x',
                {#speed: 0.05,#}
			    {#threshold: 20,#}
                {#sensitivity: 3,#}
            }
        }
    },

    elements: {
        point: {radius:0.01, borderWidth:0.01,},
        line: {tension: 0.33, borderWidth: 0.01,},
     },
    },
};
{# });#}

window.resetZoom = function() {
    window.myLine.resetZoom();
};

window.toggleDragMode = function() {
    var chart = window.myLine;
    var zoomOptions = chart.options.plugins.zoom.zoom;
    zoomOptions.drag = zoomOptions.drag ? false : dragOptions;

    chart.update();
    document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Zoom kolečkem' : 'Zoom tahem';
};

window.onload = function() {
    console.log(chartData.map((d) => ({t: d.x, y: d.y})))
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myLine = new window.Chart(ctx, config);
};

    </script>

{% endblock %}


{% block filters %}
{#    {% cache 1200 admin_filters LANGUAGE_CODE request.GET.items request.path request.user.username %}#}
    {% cache 1800 admin_filters LANGUAGE_CODE request.get_full_path %}
        {{ block.super }}
    {% endcache %}
{% endblock %}


{% block content %}
{#    <div>#}
{#        <p> {{ chart_data|pprint }} </p>#}
{#    </div>#}
    {% if chart_data %}
    {#    <canvas style="margin-bottom: 24px; height: 330px" id="myChart"></canvas>#}
        <button class="button" onclick="resetZoom()">Obnovit zoom</button>
        <button class="button" id="drag-switch" onclick="toggleDragMode()">Zoom kolečkem</button>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart" style="height: 330px"></canvas>
        </div>
    {#    <button id="reload">Reload chart data</button>#}
    {% endif %}

    {% cache 1200 admin_content LANGUAGE_CODE request.get_full_path %}
        {{ block.super }}
    {% endcache %}
{% endblock %}

{% block pagination %}
    {% cache 1600 admin_pagination request.get_full_path %}
        {{ block.super }}
    {% endcache %}
{% endblock %}


{% block footer %}
{#    {{ request.path }} | {{ request.path_info }} | {{ request.get_full_path }} | {{ request.GET.p }} | {{ request.resolver_match }} | {{ request.content_params }}#}
{#        <div>#}
{#        <img src="{% static "tunel.PNG" %}" alt="Chéma tunelu">#}
        <img src="{% static "tunel.svg" %}" alt="Schéma tunelu" loading="lazy" style="width: 100%; padding-bottom: 16px">
{#    </div>#}
    {{ block.super }}
{% endblock %}